
$breackpoint_1860: 1860px;
$breackpoint_1555: 1555px;
$breackpoint_1440: 1440px;
$breackpoint_1024: 1024px;
$breackpoint_768: 768px;
$breackpoint_375: 375px;

$montserrat-400: 'Montserrat-Regular';
$montserrat-500: 'Montserrat-Medium';
$montserrat-600: 'Montserrat-SemiBold';
$montserrat-700: 'Montserrat-Bold';
$montserrat-800: 'Montserrat-ExtraBold';
$opensans-400: 'OpenSans-Regular';
$manrope-400: 'Manrope-Regular';


$bg-color: #2B7AF1;