.btn  {
  display: inline-flex;
  border-radius: 25px;
  font-family: $montserrat-600;
  color: white;
  background: linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%);
  

  box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.10);

  &:hover {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10) inset, 0px 10px 20px 0px rgba(255, 122, 0, 0.20);
  }

  &:active {
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.20) inset, 0px 10px 20px 0px rgba(255, 122, 0, 0.20);
  }
}