.about-us {
  padding-top: 50px;

  &__inner {
    align-items: flex-end;
    justify-content: space-between;
  }

  &__desc {
    flex-direction: column;
    max-width: 433px;
  }

  &__desc-text {
    margin-top: 40px;
    font-family: $opensans-400;
    font-size: 18px;
    line-height: 139%;
  }

  &__icons {
    gap: 100px;
  }

  &__icon-box {
    gap: 20px;
  }

  &__icon img {
    width: inherit;
    height: inherit;
  }

  &__icon-desc {
    flex-direction: column;
  }

  &__icon-desc-text {
    font-family: $manrope-400;
    font-size: 18px;
  }

  &__line-bottom {
    margin-top: 100px;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid transparent;
      border-image: linear-gradient(to right, rgba(255, 115, 0, 0.048), rgba(255, 166, 0, 0.514), rgba(255, 115, 0, 0.048)) 1;
  }
}

@import './about-us-media';